body {
  background-color: #001f3f;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  background-color: black;
  box-sizing: border-box;
}

#intro {
  color: #e1eaff;
}

h1 {
  color: #e1eaff;
}

h2 {
  color: #e1eaff;
}
h3 {
  color: #e1eaff;
}
p {
  color: #e1eaff;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  align-items: center;
  color: #a1b7b7;
  font-size: 1.5rem;
}

.contacts {
  margin-top: 40%;
}

.contact-methods {
  display: inline-block;
}

.linkedin {
  margin-right: 25px;
}

.name {
  font-size: 3rem;
  font-family: "Lora", serif;
}

#no {
  display: none;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.css-switch {
  background-color: transparent;
  color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.css-switch:hover {
  background-color: #3498db;
  color: #fff;
}

.button-indent {
  margin-left: 4%;
  margin-top: 3%;
  margin-bottom: 0%;
  padding-bottom: 0px;
}

.heading {
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 0px;
  height: 20%;
}

.headshot {
  float: right;
  margin-left: 0px;
  margin-right: 100px;
  width: 250px;
}

.bio {
  width: 60%;
  font-size: 18px;
  margin-bottom: 7%;
}

.involvement {
  margin-left: 50px;
}

.vl1 {
  border-left: 6px solid white;
  height: 290px;
  float: right;
}

.involement-logos {
  width: 100px;
  display: block;
  margin-bottom: 15px;
}

.area {
  display: inline;
}

.involvement-text {
  width: 80%;
  margin-left: 10px;
  margin-bottom: 10%;
}

.projects {
  margin-top: 2%;
  margin-left: 5%;
  font-size: 40px;
  text-decoration: underline;
}

.project-container {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 5%;
}

.project-img {
  max-width: 15%;
  height: auto;
}

.vl2 {
  border-left: 2px solid #666666;
  height: 200px;
  margin: 0 20px;
}

.project-description {
  max-width: 50%;
  text-align: left;
}

.resume-image {
  float: left;
  margin-right: 5%;
  border: 2px solid black;
}

.section {
  max-width: 90%;
  margin-left: 5%;
}

.skills {
  margin: 0 0;
}

.ts-answer {
  margin-left: 5%;
  margin-top: 5%;
  max-width: 60%;
  font-size: 1.1rem;
}

footer{
  display: none;
}