body {
  background-color: #cfe8fc;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  background-color: #0047ab;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  align-items: center;
  color: #f0ffff;
  font-size: 1.5rem;
}

.contacts {
  margin-top: 40%;
}

.contact-methods {
  display: inline-block;
}

.linkedin {
  margin-right: 25px;
}

.name {
  font-size: 3rem;
  font-family: "Lora", serif;
}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.heading {
  margin-left: 50px;
  margin-top: 100px;
  margin-right: 0px;
  height: 20%;
}

.headshot {
  float: right;
  margin-left: 0px;
  margin-right: 100px;
}

.bio {
  width: 60%;
  font-size: 18px;
}

.involvement {
  margin-left: 50px;
}

.vl1 {
  border-left: 6px solid black;
  height: 290px;
  float: right;
}

.involement-logos {
  width: 100px;
  display: block;
  margin-bottom: 15px;
}

.area {
  display: inline;
}

.involvement-text {
  width: 80%;
  margin-left: 10px;
}

.projects {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 40px;
  text-decoration: underline;
}

.project-container {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 5%;
}

.project-img {
  max-width: 15%;
  height: auto;
}

.vl2 {
  border-left: 2px solid #333;
  height: 200px;
  margin: 0 20px;
}

.project-description {
  max-width: 50%;
  text-align: left;
}

.resume-image {
  float: left;
  margin-right: 5%;
  border: 2px solid black;
}

.section {
  max-width: 90%;
  margin-left: 5%;
}

.skills {
  margin: 0 0;
}

.ts-answer {
  margin-left: 5%;
  margin-top: 5%;
  max-width: 60%;
  font-size: 1.1rem;
}
